@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
	padding: 0;
	margin:	0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt; /*1em = 16px*/
	line-height: 1.3em;
	color: #333333;
}

nav {
	text-align: center;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}

nav a {
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	color: #5B382B;
	margin: 20px;
	padding: 5px;
}

nav a:visited{
	color: #333333;
}

nav a:hover{
	border-bottom: 2px solid #d35400;
}

nav a:active{
	color: #d35400;
}

label {
	text-decoration: none;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	color: #5B382B;
	margin: 20px;
	padding: 5px;
	display: none;
	float: right;
}

a {
	text-decoration: none;
	font-size: .75em;
	color: #d35400;
}

header label {
	cursor: pointer;
}

#toggle {
	display: none;
	}

.logo {
	background: url(../images/Sweettooth_logo.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	float: left;
    width: 181px;
    height: 57px;
    margin-top: 10px;
    margin-left: 30px;
}

#hero {
	background: url(../images/hero_background.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:625px;
	padding:20px 0;
	margin-bottom: 20px; 
}

#footerbanner {
	background: url(../images/footer_section.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:375px;
	padding:20px 0; 
	text-align: center;
}

img {
	width: 100%;
}

footer {
	clear: both;
}

h1 {
	font-size: 3.5em;
	font-weight: 300;
	line-height: 1.25em;
	padding: 30px;
	margin-top: 60px;
	color: #4d3926;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 300;
	padding: 30px;
	padding-bottom: 5px;
	color: #4d3926;
}

h4 {
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
}

p {
	font-size: .75em;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.subhead p {
	padding-left: 60px;
	padding-right: 60px;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0
}

.columns {
	float: left;
	width: 33.3%;
}

.social {
	width: 100%; 
	clear:both;
	padding-top: 20px;
}
.social p {
	font-size: .65em;
}

.social hr {
	border: none;
	height: 1px;
	background-color: #d35400;
	width: 90%;
	margin: .5em auto;
}

.columns h4 {
	color: #4d3926;
}

.columns hr {
	border: none;
	height: 2px;
	background-color: #d35400;
	width: 3em;
	margin: .5em auto;
}

.box h2 {
	text-align: center;
}

#hero h2 {
	color: #d35400;
	padding-left: 30px;
    padding-top: 5px;
}

.subhead {
  width: 50%;
  float: left;
}

.item {
	width: 100%;
	float: left;
	margin: 0 auto; 
	overflow: hidden;
}

.product {
	width: 33.33%;
	float: left;
	margin: 0 auto; 
	overflow: hidden;
}

.subhead, .product h2 {
	text-align: center;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
}

.item img {
  max-width: 100%; 
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width:1065px) {
	h1 {
	font-size: 3em;
	}

	#hero h2 {
	font-size: 1.5em;
	}

	h2 {
	font-size: 1.15em;
	}

	.columns h4 {
	font-size: .85em;
	}

	.columns hr {
	margin: .25em auto;
	}

}

@media only screen and (max-width:825px) {
	nav {
	display: none;
	}

	.navlinks {
	display: block;
	}

	.subhead {
  	width: 100%;
	}

	.product {
		width: 100%;
		float: left;
	}

	#hero {
		background: url(../images/hero_background.jpg) no-repeat center center scroll;
		background-size: cover;
		height:600px;
	}

	.subhead img {
		height:400px;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1em;
	}

	nav a {
		font-size: .75em;
		margin: 10px;
	}

	label {
		display: block;
		padding-right: 30px;
	}

	#toggle:checked + nav {
		display: block;
		margin-top: 2em;
		position: relative;
    	left: 140px;
	}

	.columns {
	float: left;
	width: 100%;
	}
	.columns li {
	display: inline;
	padding: 10px;
	}
}	


