*	{
	padding: 0;
	margin: 0; 
}

.wrapper {
	background-color: #bdc3c7;
    border: 1px black solid;
    padding: 20px;
}

body {
	font-family: "Open Sans", Helvetica;
}

p {
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	padding: 10px;
}		

footer {
	background-color: #FFED74;
	padding: 5px;
}

header {
	background-color: #FFED74;
	padding: 5px;
}

article {
	background-color: #2ecc71;
	padding: 5px;
}

main {
	background-color: #FFED74;
	padding: 5px;
}

section {
	background-color: #FFE2B8;
	padding: 10px;
}

nav {
	background-color: #E8C66A;
	padding: 10px;
}
.subhero {
	background-color: #E89C6C;
	padding: 10px;
}
.description1 {
	background-color: #E8C66A;
	padding: 10px;
}

/*.description2 {
	background-color: #FFE2B8;
	padding: 10px;
}

.description3 {
	background-color: #E8C66A;
	padding: 10px;
}*/

.footernav {
	background-color: #FF957E;
	padding: 10px;
}

#two-column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #CCCCCC;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 46.95%;
}

#right {
	background-color: #CCCCCC;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 46.95%;
}

#bottom {
	background-color: #CCCCCC;
	border: 1px black solid;
	padding: 20px;
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
