div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}

#name {
	background: black;
}

#hex {
	background: #000000;
}

#rgb {
	background: rgba(0,0,0,.9);
}

#alphalight {
	background: rgba(0,0,0,.1);
}

/*.1-.9 light to value opacity*/
