
body {
	font-family: "Open Sans";
}

.navbar {
    padding: 16px;
    background: #2c3e50;
    background-image: url(../images/hero_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*#hero {
    background-image: url(../images/hero_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*#slogan {
	font-size: 24px;
}

a {
	text-decoration: none;
}

p {
	margin: 0px;
}*/




